html, body {
    background-color: black;
  margin: 0 50px 0 50px;
  padding: 0;
} 

#dark-blue-background {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

#head-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    gap: 20px;
    margin-right: 250px;
}

.nav-text {
    font-size: 15px;
}

#logo-name {
    font-weight: 700;
    margin-left: 250px;
    font-size: 20px;
}

.white-text {
    color: white;
}

#text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 150px;
}

.text-container-item {
    width: 500px;
    height: 250px;
}

#image-box {
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#text-box {
    display:flex;
    flex-direction: column;
    padding-right: 10px;
}

#signup-button {
    width: 90px;
}